/* Main background color #F5F5F5 */
/* Main text color #757575 */
/* Secondary background color #F5F4FA */
/* Backgroung-footer and hero #2F303A */
/* logo, buttoms hover and focus #2196F3 */
/* Hero main text,
   text of hover and focus buttoms and anchors,
   footer main text #FFFFFF */
/* Second text color  rgba(255, 255, 255, 0.6) */
/* Section titles color #212121 */
/* #EEEEEE */
/* Logo color  #000000*/
/* #ECECEC */

/* Шрифти */
/* Raleway 700*/
/* Roboto 400*/
/* Roboto 500*/
/* Roboto 700*/
/* Roboto 900*/

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--accent-button-color: #ffffff;
	--second-text-color: rgba(255, 255, 255, 0.6);
	--secondary-background-color: #f5f4fa;
	--third-text-color: #ffffff;
	--third-background-color: #2f303a;
	--main-background-color: #ffffff;
}

/* Основні стилі */
body {
	background-color: var(--main-background-color);
	color: var(--primary-text-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin-top: 0;
	margin-bottom: 0;
}
/* Прибираємо крапки зі списків */
/* Обнуляємо padding and margin списків */
.list {
	padding: 0;
	margin: 0;

	list-style: none;
}

/* Прибираємо підкреслення у посилань */
.link {
	text-decoration: none;
}

/* Хедер */

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	width: 1200px;
	outline: 2px solid darkred;
}

.container-header {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */

	background-color: chartreuse;
}

.header-nav {
	display: flex;
	align-items: center;

	background-color: aqua;
}

.contacts-list {
	display: flex;

	margin-left: auto;
	background-color: coral;
}

.contacts-list-item .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	background-color: darksalmon;
}

.header-nav-list {
	display: flex;
}

/* Логотип */

.logo-web,
.logo-studio {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
}

.logo-web {
	color: var(--accent-color);
}
.logo-studio {
	color: #000000;
}

/* Site-nav */

.header-nav-list .link {
	color: var(--title-text-color);
}

.nav-link.current {
	color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.contacts-list .link:hover,
.contacts-list .link:focus {
	color: var(--accent-color);
}

/* Контакти */
.contacts-list-item .link {
	color: inherit;
}

.nav-link.link,
.contacts-list-item .link {
	font-family: inherit;
	font-weight: 500;
	font-size: inherit;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-nav-list .link {
	padding-top: 32px;
	padding-bottom: 32px;
}

.logo-link {
	margin-right: 93px;
	padding-top: 24px;
	padding-bottom: 25px;
}

.header-nav-list .nav-list-item + .nav-list-item {
	margin-left: 50px;
}

.header-nav .link,
.logo-link {
	display: block;
}

.contacts-list .contacts-list-item + .contacts-list-item {
	margin-left: 50px;
}

/* Заголовки секцій і списків */

/* ---------ГЕРОЙ--------- */

.section-hero-title,
.footer .logo-studio {
	color: var(--third-text-color);
}

.section-hero {
	text-align: center;

	margin-bottom: 94px;
	background-color: #2f303a;
}

.section-hero-title {
	margin-bottom: 30;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	outline: 2px solid blue;
}


.section-hero-btn {
	color: var(--accent-button-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	background-color: var(--accent-color);
	cursor: pointer;
}

.btn {
	border-radius: 4px;
	border: 0;
}

/* ---------ОСОБЛИВОСТІ РОБОТИ--------- */

.features-list-title {
	margin-bottom: 10px;

	color: var(--title-text-color);
	font-weight: 700;
	font-size: inherit;
	line-height: 1.14;
	text-transform: uppercase;
}

.features-list-text {
	margin: 0;
	font-size: inherit;
	line-height: 1.71;
}

.features-list {
	display: flex;
	margin-bottom: 94px;
}

.features-list-item {
	width: 270px;

	background-color: aqua;
}

.features-list .features-list-item + .features-list-item {
	margin-left: 30px;
}

/* ---------ЧИМ МИ ЗАЙМАЄМОСЬ--------- */

.section-about-title,
.section-team-title {
	margin-bottom: 50px;

	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.section-about-list {
	display: flex;
	justify-content: space-between;
}

.about-list-item {
	margin-bottom: 0;

	background-color: blueviolet;
}
/* ---------НАША КОМАНДА--------- */

.team-item-title {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-item-text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.section-team {
	padding-top: 94px;
	padding-bottom: 94px;

	background: var(--secondary-background-color);
}
/* Футер */

.adress-list .link {
	font-style: normal;
	color: var(--second-text-color);
	font-size: inherit;
	line-height: 1.71;
}

.adress-list .adress-link {
	color: var(--third-text-color);
}

.adress-list {
	font-style: normal;
}

.adress-list .link:hover,
.adress-list .linkk:focus {
	color: var(--accent-color);
}

.footer {
	background-color: var(--third-background-color);
}

/* ПОРТФОЛІО */

/* Хедер і футер стилі задані раніше. Такі самі як на говлній сторінці */

/* Головна секція - портфоліо */

/* Button */

.portfolio-list-btn {
	padding: 6px 22px;

	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--secondary-background-color);
	font-family: inherit;
	cursor: pointer;
}

.portfolio-list-btn.primary {
	color: var(--accent-button-color);
	background-color: var(--accent-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}

.portfolio-list-btn.socondary {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
}

.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
	color: var(--accent-button-color);
	background-color: var(--accent-color);
}

/* Посилання на проєкти */

.project-list-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project-list-text {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}

.portfolio-project-list {
	display: flex;
	flex-wrap: wrap;

	background-color: #2196f3;
}

.project-list-item {
	width: calc((100% - 60px) / 3));
	margin-right: 30px;

	background-color: blueviolet;
}

.project-list-item:nth-child(3n) {
	margin-right: 0;
}

.project-list-item:nth-child(-n+3){margin-bottom: 30px;}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.portfolio-buttons-list{ display: flex;
text-align: center;
background-color: ;}